@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    background-color: #040f16;
    color: #0094c6;
    overflow-x: hidden;
    margin: 0;
    
}

/* Logo code was inspired by the love running page provided by the Code Institute */
.logo{
    height: 600px;
    width: 100%;
      
    background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  float: right;
  padding-left: 30px;
  padding-right: 35px;
  
  
}

.logo-outer{
    height: 600px;
    width: 100%;
    position: relative;
     margin-left: 5px;
  margin-right: 5px;
  
  clear: both;
  
    
}

h1{
    text-align: justify;
    padding-top: 5px;
}
.banner{
    width: 100%;
    background-color: #000022;
    color: #0094c6;
    position: fixed;
    
    padding-top: 5px;
    z-index: 1;
    border-bottom: 2px #005e7c solid;
}

h1, h2,h3{
    font-family: 'Special Elite', sans-serif;
}

p{
    font-family: 'Zilla Slab', sans-serif;
}

hr{
background-color: #005e7c;
height: 2px;
width: 100%;
z-index: 1;
}
.description-left {
    width: 50%;
    float: left;
    display: inline-block;
    padding-top: 15px;
    padding-right: 10px;
    
}

.description-right {
    float: right;
    display: inline-block;
    width: 50%;
    padding-top: 15px;
    padding-left: 10px;
    
}

nav ul li {
    text-align: right;
    font-family: 'Special Elite', sans-serif;
    color:#0094c6;
    padding-right: 10px;
    font-size: 30px;
    display: block;
    
}

.dropdown-menu{
    background-color: #000022;
}
.dropdown-item{
    color: #0094c6;
}


footer{
    font-family: 'Special Elite', sans-serif;
    width: 100%;
    position: relative;
    display: inline;
    
}

.row-margin {
    background-color: #000022;
    border-top: 2px #005e7c solid;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0;
    width: 100%;
    
    
}

.foot-text{
    font-family: 'Special Elite', sans-serif;
    
    font-size: 20px;
}
.page-break {
    height: 60px;
    width: 100%;
    background-color: #005e7c;
    color: #001242;
    text-align: center;
    border: solid 2px #040f16;
    padding-top: 15px;
    font-family: 'Special Elite', sans-serif;
}

.page-break a {
    color: #001242;
}

.page-break a:hover{
    color: #040f16;
    font-weight: bold;
    text-decoration: none;
}

.icons {
    float: right;
}

 .icons li a i{
     padding-top: 10px;
    line-height: 10px;
    height: 30px;
    width: 30px;
    font-size: 25px;
}

@media only screen and (max-width: 576px){
    h1{
        display: inline-block;
        font-size: 20px;
        clear: both;
        width: 100%;
        position: fixed;
        text-align: center;
        
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .navbutton {
        display:inline-block;
        float: left;
        clear:left;
        width: 100%;
        position: static;
        text-align: center;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 5px;
        margin-bottom: 0;
        
    }
    .logo-outer, .logo{
        width: 100%;
        height: auto;
        margin:0 0 0 10px;
        padding: 0;

    }
    .page-break{
        display: none;
    }
   }