@import url("https://fonts.googleapis.com/css2?family=Special+Elite&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  background-color: #040f16;
  color: #0094c6;
  overflow-x: hidden;
  margin: 0;
}

/* Logo code was inspired by the love running page provided by the Code Institute */
.logo {
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  float: right;
  padding-left: 30px;
  padding-right: 35px;

   
}

.logo-outer {
  height: 600px;
  width: 100%;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  clear: both;
}



.banner h1 {
  text-align: justify;
  padding-top: 5px;
}
.banner {
  width: 100%;
  background-color: #000022;
  color: #0094c6;
  position: fixed;
  padding-top: 5px;
  z-index: 1;
  border-bottom: 2px #005e7c solid;
}

h1,
h2,
h3 {
  font-family: "Special Elite", sans-serif;
}

p {
  font-family: "Zilla Slab", sans-serif;
}

.about{
    height: 400px;
    width: 100%;
}

.description-left {
  width: 50%;
  float:left;
  padding-top: 15px;
}

.barflair{
  float:right;
  width: 50%;
  padding-top: 15px;
  padding-left: 70px;
}

.barflair img{
    opacity: 0.9;
    border-radius: 50%;
    max-height: 300px;
}

.people {
  width: 50%;
  float: left;
}

.people img{
    opacity: 0.9;
    border-radius: 40%;
    max-height: 300px;
}

.description-right {
  float:right;  
  width: 50%;
}

.nav {
  text-align: right;
  font-family: "Special Elite", sans-serif;
  color: #0094c6;
  background-color: #000022;
  float: right;
  font-size: 30px;
}
.dropdown{
    color: #0094c6;
}
.dropdown-menu {
  background-color: #000022;
  float: right;
}
.dropdown-item {
  color: #001242;
  font-family: "Special Elite", sans-serif;
}

.dropdown-menu.show {
  background-color: #005e7c;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #001242;
  background-color: #005e7c;
}

footer {
  font-family: "Special Elite", sans-serif;
  width: 100%;
  height: auto;
  position: relative;
}

.row-margin {
  background-color: #000022;
  border-top: 2px #005e7c solid;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 0;
  padding-right: 10px;
  margin: 0;
  width: 100%;
  height: auto;
}

.foot-text {
  font-family: "Special Elite", sans-serif;
  font-size: 20px;
  padding-left: 25px;
}

.page-break {
  height: 60px;
  width: 100%;
  background-color: #005e7c;
  color: #001242;
  text-align: center;
  border: solid 2px #040f16;
  padding-top: 15px;
  font-family: "Special Elite", sans-serif;
  font-size: 20px;
}

.page-break a {
  color: #001242;
}

.page-break a:hover {
  color: #040f16;
  font-weight: bold;
  text-decoration: none;
}
/* This code was taken from the Rosie project by Matt Rudge CI */
.hvr-sweep-to-right:before {
    background: rgba(0, 0, 0, 0.2);
}


.icons {
  float: right;
}

.icons li a i {
  padding-top: 10px;
  line-height: 10px;
  height: 30px;
  width: 30px;
  font-size: 20px;

  background-color: #0094c6;
    padding: 15px 0px 15px 0px;
    color: #001242;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    padding-top: 10px;
}

.icons li a i:hover {
  color: #005e7c;
}

.testimonials{
   width: 100%;
    background-color: #005e7c;
    color: #001242;
    border-top: #001242 solid 5px;
    border-bottom: #001242 solid 5px;
    height: auto;
    

}
.testleft{
    width: 49%;
    float: left;
    padding-left: 10px;       
}

.testright{
    width: 49%;
    float:right;       
}

.blockquote{
    font-size: 20px;
    margin-bottom: 2px;
}

.testimonials img{
    margin-top: 10px;
    border: 7px solid #001242;
    width: 100px;
    height: 120px;
}

.tour1{
    margin-top: 60px; 
    margin-bottom: 20px;
    background-color: #005e7c;
    color: #001242;
    text-align: center;
    padding-left: 30px; 
    border: 2px solid #040f16; 
}

.tour2{
     margin-top: 60px;
     margin-bottom: 20px;
     background-color: #005e7c;
     color: #001242;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #040f16;
}

.tour3{
     margin-top: 60px;
     margin-bottom: 20px;
    background-color: #005e7c;
    color: #001242;
    text-align: center;
    padding-left: 10px;
    padding-right: 20px;
    border: 2px solid #040f16;
}

.tour1 img, .tour2 img, .tour3 img{
    margin: 15px;
    width: 250px;
    height: 200px;
    border-radius: 50%;
    border: solid #040f16 15px;
}

.galway{
    width: 100%;
    height: 600px;
}

.galway img{
    width: 100%;
    height:600px;
}

.contact{
    background-color: #000022;
    color: #0094c6;
    font-family: 'Special Elite', sans-serif;
    padding: 20px;
    width: 75%;
    height: 500px;
    position: relative;
    border-radius: 10%;
    clear: both;
    float: none;

}

.contactbg{
    background: url("../../assets/images/galway.jpg") no-repeat center center fixed; 
}
.btn{
    background-color: #0094c6;
    color: #001242;
    display: block;
    margin-top: 40px;
    float:none;
    clear:both;
    margin-left:auto;
    margin-right: auto;
}

.btn a:hover {
  color: #040f16;
  font-weight: bold;
  text-decoration: none;
  display:block;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 35px;
  }

  .tour1, .tour2, .tour3{
      width: 33%;
  }

  .people {
  width: 50%;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description-right {
  float:right;
  width: 50%;
  padding-top: 15px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

}

@media only screen and (max-width: 576px){
/*this solution was found on stack overflow*/
 html, body{
     overflow-x: hidden;
     overflow-y: scroll !important;
 }
  body {
    background: url("../../assets/images/mobilehero.jpg") no-repeat center center fixed;
    width: 100vw;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }
  /* Multiple backgrounds solution was found on Stack Overflow*/
  body.tours{
    background: url("../../assets/images/whiskey.jpg") no-repeat center center fixed;
    width: 100vw;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }

body.meetups{
    background: url("../../assets/images/barflair.jpg") no-repeat center center fixed;
    width: 100vw;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
  }

body.contactpage{
    background: url("../../assets/images/galway.jpg") no-repeat center center fixed;
    width: 100vw;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
  }

 

  .banner {
    display: inline-block;
    clear: both;
    font-weight: 600;
    width: 100%;
    position: fixed;
    text-align: center;
    padding-right: 7px;
    padding-left: 10px;
    margin-bottom: 5px;
    z-index: 1;
    border-bottom: 5px #005e7c solid;
  }
  .banner h1{
      font-size: 30px;
      font-weight: 600;
      word-spacing: 5px;
      text-align: center;
      line-height: 1;
  }

  .nav {
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
     list-style: none;
    font-family: "Special Elite", sans-serif;
    text-align: center;
    justify-content: center;
    float: none;
    line-height: 0;
    padding-bottom: 5px;
  }

  .navbutton {
    font-size: 30px;
    width: 100vw;
    position: fixed;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
    
  }

  .dropdown {
    font-size: 30px;
    text-align: center;
    float: none;
    display: inline-block;
    width: 100vw;
    
  }
   .dropdown-menu.show {
    display: block;
    width: 100vw;
    text-align: center;
    line-height: 2.5;
    font-weight: 600;
    font-size: 30px;
}
  
  /* This selector was created using dev tools on google chrome*/
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #001242;
    background-color: #005e7c;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-top: 15px;
    width: 100vw;
  }

  .dropdown a:active {
    background-color: #005e7c;
    color: #001242;
  }
  
  .page-break {
    display: none;
  }
.page-headings{
    margin: 40px;
}
.page-headings h1{
    margin-top: 20px;
}
.about{
    height:auto;
}
.description-left, .description-right{
    width: 100%;
    padding: 15px;
}

.description-left h3, .description-right h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.mobile-description{
   width: 100%;
   margin-top: 150px;
   height: auto;
   float: none;
   border-radius: 25%;
   clear: both;
   background-color: rgba(0, 94, 124, 0.9);
   color: #001242;
   font-weight: 600;
   border: solid 2px #001242;
   padding: 20px 15px;
 }

  .row-margin {
    overflow: hidden;
    height: 120px;
    font-size: 15px;
    font-weight: 400;
    border-top: 5px #005e7c solid;
  }

  .foot-text {
    font-size: 20px;
    display: inline-block;
    padding-left: 10px;
    font-weight: 800;
  }
  .icons {
    float: none;
    word-spacing: 30px;
    margin-bottom: 10px;
  }
   
  .icons li a i {
    height: 40px;
    width: 40px;
    font-size: 30px;
    background-color: #0094c6;
    padding: 15px 0px 15px 0px;
    color: #001242;
    border-radius: 50%;
    line-height: 15px;
  }

  .tour1{
   margin: 300px 30px 100px 30px;
   padding: 20px;
   background-color: rgba(0, 94, 124, 0.9);
   border-radius: 25%;
  font-weight: 600;
  }

.tour2{
    margin: 100px 30px 100px 30px;
    padding: 20px;
    background-color: rgba(0, 94, 124, 0.9);
    border-radius: 25%;
    font-weight: 600;
    
}

.tour-heading{
    font-weight: 600;
}

.tour3{
    margin: 100px 30px 100px 30px;
    padding: 20px;
    background-color: rgba(0, 94, 124, 0.9);
    border-radius: 25%;
    font-weight: 600;
    
}

.tour1 img, .tour2 img, .tour3 img{
    margin: 10px;
    border: solid #040f16 10px;
}

.meetups-mobile{
    background-color: rgba(0, 18, 66, 0.9);
    color: #0094c6;
    border: 2px solid #0094c6;
}

.meetups-mobile img{
    margin: 5px;
    border: solid #0094c6 10px;
}

.contact{
    margin-top: 240px;
    margin-bottom: 75px;
    background-color: rgba(0, 0, 34, 0.9);
    color: #0094c6;
    font-size: 20px;
    width: 80vw;
}

.contactbg{
    background: none;
}

.foot-1 {
   height: 20px;
   text-align: center;
   position: relative;
}

.foot-2 {
   text-align: center;
   height: 30px;
   position: relative;
   padding-bottom: 5px;
  }

}